# Limpieza y preparación de conjuntos de Tweets para su posterior análisis
### Este archivo lee datos en bruto descargados de la web de Twitter, con pocas modificaciones o sin estas. Muchos de estos Tweets están dañados o incompletos y por lo tanto se descartan.

In [1]:
import pandas as pd
import json
pd.set_option('display.max_columns', None) #Quitamos limitación de columnas máximas a mostrar
!cd

C:\Users\User\Documents\Master Data Science\SocialBigData\Twitter

In [2]:
%%time

"""
Cargo los tweets en una lista, algunas líneas no son tweets completos, 
sino sólo trozos y no es posible cargarlos e incorporarlos al DataFrame, por eso try-except.
Al final con esto lastimosamente dejan de cargarse muchos tweets
Estos tweets que se acaban descargando se almacenan temporalmente en otras variables para observarlos ligeramente
"""

with open("./Data/CAM20170501-002.json") as data:
    n=0
    m=0
    jr=0
    js=0
    l1=[]
    l2=[]
    l3=[]
    for line in range(1587572):
        try:
            r1=(data.readline())
        except:
            n+=1
            try:
                l1.append(r1)
            except:
                pass
        else: 
            try:
                r2=json.loads(r1)
            except:
                jr+=1
                try:
                    r2=json.loads(json.dumps(r1))
                except:
                    js+=1
                else:
                    m+=1
                    l3.append(r2)
            else:
                m+=1
                l2.append(r2)
    print("Cargados=%d\nPerdidos al leer linea= %d\nPerdidos al cargar json raw = %d\nPerdidos al cargar json string = %d"\
          %(m,n,jr,js))
    print("L1 = %d\nL2 = %d\nL3 = %d" %(len(l1),len(l2), len(l3)))

Cargados=1394502
Perdidos al leer linea= 193070
Perdidos al cargar json raw = 736206
Perdidos al cargar json string = 0
L1 = 193070
L2 = 658296
L3 = 736206
Wall time: 1min 44s

In [3]:
%%time
"""Aquí cargamos los tweets en un DataFrame"""

ll1 = []
for element in l1:
    try:
        ll1.append(json.loads(element))
    except:
        pass
tweets1 = pd.DataFrame(ll1)
#tweets1 = pd.DataFrame([json.loads(element) for element in l1]) #Creo un dataFrame

Wall time: 2min

In [4]:
print(tweets1.shape)
tweets1.head(2)

(192780, 54)

,Xcoord,Ycoord,_id,coordinates,created_at,created_at_localtime,display_text_range,entities,entities-hashtags,entities-media,entities-urls,entities-user_mentions,entitites,extended_entities,extended_tweet,favorite_count,favorited,filter_level,geo,id,in_reply_to_screen_name,in_reply_to_screen_nameFix,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,in_reply_to_user_id_str,is_quote_status,lang,place,place-country_code,place-name,possibly_sensitive,quoted_status,quoted_status_id,quoted_status_id_str,retweet_count,retweeted,source,sourceFix,text,textFix,timestamp_ms,timezone_info,truncated,user,user-created_at,user-followers_count,user-friends_count,user-id_str,user-lang,user-listed_count,user-location,user-screen_name,user-statuses_count
0,-3.7058,40.4203,722257977667747843,"{'type': 'Point', 'coordinates': [-3.7058, 40....",{'$date': '2016-04-19T02:58:15.000Z'},{'$date': '2016-04-19T04:58:15.000Z'},NaN,"{'hashtags': [{'indices': [121, 128], 'text': ...","[{'indices': [121, 128], 'text': 'trndnl'}]",NaN,"[{'url': 'https://t.co/K5DFqqcseW', 'indices':...",NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,es,"{'name': 'Madrid', 'country_code': 'ES'}",ES,Madrid,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,"'Oklahoma' empieza a ser Tendencia, con 16652 ...",NaN,NaN,"{'timezone': 'Europe/Madrid', 'obtained_from':...",NaN,"{'lang': 'es', 'statuses_count': 432224.0, 'sc...",{'$date': '2013-02-14T18:39:28.000Z'},36306.0,44.0,1179981192,es,450.0,EspaÃ±a,trendinaliaES,432224.0
1,-3.7058,40.4203,722269265693310977,"{'type': 'Point', 'coordinates': [-3.7058, 40....",{'$date': '2016-04-19T03:43:06.000Z'},{'$date': '2016-04-19T05:43:06.000Z'},NaN,"{'hashtags': [{'indices': [0, 12], 'text': 'Lu...","[{'indices': [0, 12], 'text': 'LunesDeOjos'}, ...",NaN,"[{'url': 'https://t.co/M8vQMwWlAW', 'indices':...",NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,es,"{'name': 'Madrid', 'country_code': 'ES'}",ES,Madrid,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,#LunesDeOjos estuvo el lunes 18 como Tendencia...,NaN,NaN,"{'timezone': 'Europe/Madrid', 'obtained_from':...",NaN,"{'lang': 'es', 'statuses_count': 432234.0, 'sc...",{'$date': '2013-02-14T18:39:28.000Z'},36306.0,44.0,1179981192,es,450.0,EspaÃ±a,trendinaliaES,432234.0

In [5]:
"""
Cargo los tweets que han presentado problema en dataframes independientes, para observar la posible clausa
"""

tweets3 = pd.DataFrame(l3)
tweets2 = pd.DataFrame(l2)

print(tweets1.shape)
print(tweets2.shape)
print(tweets3.shape)

(192780, 54)
(658296, 54)
(736206, 1)

In [6]:
tweets3.head(2) # Comprobamos el estado de estas líneas

                                                   0
0  eated_at_localtime":{"$date":"2016-04-19T05:13...
1  com/p/BEXhncytVjf/","display_url":"instagram.c...

##### Como se observa, estos Tweets están incompletos y por esta razón no se han podido incorporar al Dataframe principal, por lo tanto se descartan

In [7]:
del tweets3, l1, l2, l3, ll1, data

##### Los Tweets que han podido cargarse corréctamente se combinan en un único DataFrame

In [8]:
tw = tweets2.append(tweets1) #formamos un df único
print(tw.shape)
tw = tw.set_index("_id")
print(tw.shape)
tw.count() #Miramos si hay NAs

(851076, 54)
(851076, 53)

Xcoord                        570988
Ycoord                        570988
coordinates                   851076
created_at                    851076
created_at_localtime          851076
display_text_range             16863
entities                      664615
entities-hashtags             271023
entities-media                 43899
entities-urls                 458740
entities-user_mentions         91923
entitites                     154059
extended_entities              13572
extended_tweet                   898
favorite_count                697017
favorited                     126029
filter_level                  126029
geo                           126029
id                            126029
in_reply_to_screen_name        72721
in_reply_to_screen_nameFix      9275
in_reply_to_status_id           9758
in_reply_to_status_id_str      65268
in_reply_to_user_id            11084
in_reply_to_user_id_str        72721
is_quote_status               126029
lang                          697015
place                         848497
place-country_code            568990
place-name                    568990
possibly_sensitive            110836
quoted_status                   1038
quoted_status_id                1038
quoted_status_id_str            7271
retweet_count                 697017
retweeted                     126029
source                        303566
sourceFix                     120323
text                          851076
textFix                       126029
timestamp_ms                  126029
timezone_info                 851076
truncated                     126029
user                          851076
user-created_at               570988
user-followers_count          570988
user-friends_count            570988
user-id_str                   570988
user-lang                     570988
user-listed_count             570975
user-location                 481213
user-screen_name              570988
user-statuses_count           570988
dtype: int64

In [9]:
del tweets2, tweets1

In [10]:
%%time
texts = tw[["created_at","text"]] # nos quedamos sólo con estas columnas

#Cambiamos el formato de la fecha a datetime:
texts["created_at"]=texts["created_at"].map(lambda x: pd.to_datetime(x["$date"]))

Wall time: 2min 46s
Parser   : 322 ms

C:\Users\User\Anaconda3\lib\site-packages\ipykernel\__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [11]:
del tw

In [12]:
texts.head(1)

,created_at,text
_id,,
722247433049083904,2016-04-19 02:16:21,Flex #thankyourihanna @ Puerta del Sol https:/...

In [13]:
texts.count()

created_at    851076
text          851076
dtype: int64

In [14]:
# Hacemos prueba de buscar dentro del texto
texts[texts["text"].str.contains("thankyourihanna", na=False).values].count()

created_at    1
text          1
dtype: int64

### Reemplazamos carácteres extraños por letras simples
(á = Ã¡ , á = Ã\xa0 , É = Ã‰ , é = Ã© , é = Ã¨ , í = Ã\xad , í = Ã¬ , Ó = Ã“ , Ó = Ã’ , ó = Ã³ , Ú = Ãš , ú = Ãº , ü = Ã¼, Ñ = Ã‘ , ñ = Ã± , Ç = Ã‡ , ç = Ã§)

In [15]:
%%time
texts["text"] = texts["text"].str.replace(r"\Ã\¡","a")
texts["text"] = texts["text"].str.replace(r"\Ã\xa0","a")
texts["text"] = texts["text"].str.replace(r"\Ã\©","e")
texts["text"] = texts["text"].str.replace(r"\Ã\¨","e")
texts["text"] = texts["text"].str.replace(r"\Ã\xad","i")
texts["text"] = texts["text"].str.replace(r"\Ã\¬","i")
texts["text"] = texts["text"].str.replace(r"\Ã\³","o")
texts["text"] = texts["text"].str.replace(r"\Ã\²","o")
texts["text"] = texts["text"].str.replace(r"\Ã\º","u")
texts["text"] = texts["text"].str.replace(r"\Ã\¼","u")
texts["text"] = texts["text"].str.replace(r"\Ã\±","ny")
texts["text"] = texts["text"].str.replace(r"\Ã\§","c")

texts["text"] = texts["text"].str.replace(r"\Ã\‰","E")
texts["text"] = texts["text"].str.replace(r"\Ã\“","O")
texts["text"] = texts["text"].str.replace(r"\Ã\’","O")
texts["text"] = texts["text"].str.replace(r"\Ã\š","U")
texts["text"] = texts["text"].str.replace(r"\Ã\‘","NY")
texts["text"] = texts["text"].str.replace(r"\Ã\‡","C")

texts["text"] = texts["text"].str.lower() # Convertimos a minúsculas

Wall time: 20.9 s

In [16]:
#Vamos a cargar nuestras palabras claves en una lista
key_words = [] 
with open("./Lista palabras.txt") as words:
    for word in words:
        key_words.append(word[:-1])
len(key_words)

148

In [17]:
%%time
#Ahora vamos a filtrar por nuestras keywords
train_tweets = pd.DataFrame() 
for word in key_words:
    train_tweets = train_tweets.append(texts[texts["text"].str.contains(word, na = False).values])
    train_tweets = train_tweets.drop_duplicates()
print(train_tweets.shape)

(239998, 2)
Wall time: 2min 11s

In [18]:
#Añadimos algunos más aleatorios para que el modelo aprenda los incorrectos
train_tweets = train_tweets.append(texts.sample(1e5))
train_tweets = train_tweets.drop_duplicates()
train_tweets.shape

C:\Users\User\Anaconda3\lib\site-packages\pandas\core\generic.py:2644: VisibleDeprecationWarning: using a non-integer number instead of an integer will result in an error in the future
  locs = rs.choice(axis_length, size=n, replace=replace, p=weights)

(300378, 2)

In [20]:
train_tweets.to_excel("./Data/Entrenamiento.xlsx") 
#Exportamos a Excel para clasificar manualmente una muestra y tener un conjunto de entrenamiento